# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
*.xlsx
*.xls
*.db
*.db.backup
*.sqlite3

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/
.agent/

# Capacitor
/web/android/
/web/ios/
/web/dist/
